.hero .navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  
}
.hero .navbar .nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.hero .navbar .logo {
  cursor: pointer;
}
.hero .navbar #beauty {
  color: rgb(180, 160, 200);
  font-family: "Open Sans", sans-serif;
}
.hero .navbar .logotag {
  font-size: 30px;
}
.hero .navbar .nav ul a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.hero .navbar .nav ul a:hover {
  color: rgb(201, 157, 165);
}
.hero .navbar .icon ol {
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.hero .navbar .icon ol a{
    color: black;
}
  .sale {
  position: relative;
  top: 40px;
  left: 20px;
  border: solid;
  border-radius: 20px;
  background-color: white;
  border-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(85, 80, 80);
}
.product{
    color:rgb(100, 97, 97) ;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.skin{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;   
}
.productname{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
.dollarcut {
  color: rgb(189, 186, 186);
  text-decoration: line-through;
  font-size: 20px;
}
.dollar {
  color: rgb(61, 58, 58);
  font-weight: bold;
  font-size: 20px;
}
.lorem{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.add {
  margin-top: 50px;
  text-decoration: none;
  padding: 5px 20px;
  color: white;
  background-color: black;
  border: solid;
  border-color: black;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.add:hover{
   background-color: rgb(204, 170, 176);
  border-color: rgb(204, 170, 176);  
}
.cart{
    margin-top: 20px;
    display: flex;
 gap: 50px;
}
.skincare{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#click {
  display: none;
}
label {
  display: none;
  cursor: pointer;
  color: rgb(201, 157, 165);
}
@media screen and (max-width: 768px) {
  label {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 10px;
  }
  .hero .navbar .nav ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color:white;
    display: none;
    width: 100%;
    height: 200px;
    line-height: 30px;
  }
  .hero .navbar .nav ul li a{
    color:  rgb(201, 157, 165);
  }
  .icon ol li {
    display: none;
  }
  #click:checked ~ .hero .navbar .nav ul {
    display: block;
  }
  .cart{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {

}

