@import "variable";
@import "mixin";
.hero .navbar{
display:flex;
justify-content: space-between;
height: 80px;
background-color: $primary-color;

.nav ul{
    list-style: $para1;
    display: $para2;
    flex-direction: $para3;
    justify-content: $para4;
    gap: $para5;
}
.logo{
    cursor: pointer;
}
#beauty{
    color: rgb(180, 160, 200);
    font-family:$font;
}
.logotag{
    font-size:30px ;
}
.nav ul a{
     text-decoration: none;
    color: black;
    font-family: $font;
}
.nav ul a:hover{
    color: rgb(201, 157, 165);
}
.icon ol{
list-style: none;
display: flex;
gap: 20px;
cursor: pointer;
}
.icon ol li a {
  color: black;
}
}
.home{
width: 100%;
.makeup{
font-family: $font;
margin-top: 60px;
margin-left: 60px;
color: rgb(156, 150, 150);
}
.make{
    margin-left: 60px;
    font-size: 50px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.showing{
    margin-top: 60px;
    margin-left:60px;
    color:rgb(156, 150, 150) ;
   font-family:$font ; 
}
}
.pro{
   display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:20px;
    margin-top: 30px;
 img{
    width:100%;
} 
.product-text{
font-size:18px ;
margin-top: 10px;
margin-bottom: 10px;
font-family:$font ;
}
 .sale{
  position: relative;
  top:40px;
  left:20px; 
  border:solid;
  border-radius: 20px;
  background-color:$primary-color;
  border-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(85, 80, 80);
} 
.rating{
    color:grey;
    margin-top: 10px;
}
.dollarcut{
    color: rgb(189, 186, 186);
    text-decoration: line-through;
    
}
.dollar{
color:rgb(61, 58, 58);
font-weight: bold;
font-size: 18px;
}
}
.footer{
    width:100%;
    height:500px;
    background-color: $secondary-color;
    margin-right:40px;
     margin-top: 80px;
 .footer-content{
   margin-top: 40px;  
   margin-left: 60px;
   font-size: 24px;
}

.foot{
  display: flex;
     justify-content: space-between;  
}

.footer-section{
    margin: 40px;
    margin-right:60px ;
}
.footer-section .email{
    height:50px;
    width:500px;
    padding-top: 7px;
    padding-bottom: 7px; 
    background-color:$primary-color;
    color: rgb(91, 89, 89);
    border: solid; 
    border-width: 0.5px;
    border-color: rgb(201, 157, 165);
    font-size: 15px;
    font-family: $font;
}
.email{
    text-align: left;
     font-family:$font;
}
.footer-section .subscribe{
    height:55px;
    width:200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 25px;
    font-size: 15px;
}
.subscribe:hover{
background-color: rgb(201, 157, 165);
border-color:  rgb(201, 157, 165);
}
.bold{
    margin-top: 100px;
    margin-left: 65px;
}
.tag{
font-size: 30px;
}
.contact{
    display:flex;
    justify-content: space-between;
}
.con{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 50px;
}
.contact-section ul {
list-style:none;
margin-right: 100px;
}
.contact-section ul li{
margin-bottom: 16px;
}
.contact-section ul li a{
    text-decoration: none;
    font-family:$font ;
    color: rgb(33, 30, 30); 
}
.contact-section ul li a:hover{
    color:rgb(180, 160, 200);
}
.policy ul{
list-style:none;
margin-right: 100px;
} 
.policy ul li{
    margin-bottom: 16px;
}
.policy ul li a{
 text-decoration: none;
    font-family:$font;
    color: rgb(33, 30, 30);   
}
.policy ul li a:hover{
    color: rgb(180, 160, 200);
}
.three-icon ul{
list-style: none;
display: flex;
gap:20px;
font-size: 22px;

}
.three-icon ul li a{
color: rgb(33, 30, 30);
}
.three-icon ul li a:hover{
    color:rgb(201, 157, 165) ;
}
    
}
